@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

@theme {
    --color-purple: rgb(133 38 255);
    --font-sans: "Quicksand";
    /*--font-sans: "Montserrat";*/
}
.katex-display {
    @apply my-1; /* roughly 0.25rem */
    @apply max-w-full;
    @apply overflow-x-auto;
}
